
<%= link_to  "Category", model:'category' %> > <%= link_to  @data.name, model:'category' %> 

<p class="category image"><%= image_tag @data.image %></p>
<p class="category name"><%= @data.name %></p>
<p class="category summary"><%= @data.summary %></p>

<% @data.descriptions.each do |disc| %>
<p class="category disc"><%= disc %></p>
<% end %>
<HR>

<% #TODO おすすめ商品の一覧を取得して表示できる。未実装 %>

<% @items.each do |item| %>
<p class="item name"><%= @item.name %></p>
<p class="item image"><%= image_tag  @item.image %></p>
<p class="item price"><%= @item.price %></p>
<HR>
<% end %>


