<section id="cart_block">
  <h2>カート中の商品</h2>

    <% @publishes.each do |publish| %>
      <% furniture = Furniture.find_by(id: publish.furniture_id) %>
      <table class="cart_solo_table">
        <tbody>
          <tr>
            <th>商品名</th>
            <td><%= image_tag furniture.furniture_image %>
              <%= link_to furniture.name, furniture %></td>
          </tr>
          <tr>
            <th>小計</th>
            <td class="publish_detail_text"><%= furniture.price %>円</td>
            <% @total_price += furniture.price %>
          </tr>
          <tr>
            <th></th>
            <td><%= link_to("削除", "/publishes/#{furniture.id}/destroy", {method: "post"}) %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
</section>

<section id="cart_sum">
  <div class="cart_sum_block">
    <table>
      <tbody>
        <tr>
          <th>合計：</th>
          <td><%= @total_price %>円</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
