		<section id="myproduct_block">
          <h2>お気に入り商品</h2>
          <div class="row">
            <% @favorites.each do |favorite| %>
              <% furniture = Furniture.find_by(id: favorite.furniture_id) %>
            <div class="product_block col-xs-6">
              <div class="furniture_img">
                <%= image_tag furniture.furniture_image %>
              </div>
              <div class="product_text">
                <% @user = User.find_by(id: furniture.user_id) %>
                <p>
                  <% if @user.prof_img.file.nil? %>
                    <span><%= image_tag 'Gravatar-icon.png' %></span>
                  <% else %>
                    <span><%= image_tag @user.prof_img %></span>
                  <% end %>  
                  <%= @user.username %>
                </p>
                <div class="product_kodawari_block">
                  <h4><%= link_to furniture.name, furniture %></h4>            
                  <p><%= furniture.kodawari_point %></p>
                </div>
                <p><%= furniture.price %>円</p>
              </div>
            </div>
            <% end %>   
            </div>       
        </section>
