<%= form_with(model: furniture, local: true) do |form| %>
  <% if furniture.errors.any? %>
  <!-- エラーメッセージ表示 -->
    <div id="error_explanation">
      <h2><%= pluralize(furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>
      <ul>
      <% furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- bootstrapでformを装飾しています。 -->
  <div class="field form-group">
    <%= form.label :name,"名前" %>
    <%= form.text_field :name, id: :furniture_name, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :category,"カテゴリー" %>
    <%= form.select :category, [["テーブル", "table"], ["イス", "chair"],["ソファー","sofa"],["ベッド","bed"]], :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :furniture_about,"概要" %>
    <%= form.text_area :furniture_about, id: :furniture_about,:rows=>"10", :class => "form-control" %>
  </div>

    <div class="field form-group">
    <%= form.label :price,"値段" %>
    <%= form.number_field :price, id: :furniture_price, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :furniture_image,"メイン画像" %>
    <%= form.file_field :furniture_image, id: :furniture_image , :class => "form-control"%>
  </div>

<!-- こだわり -->
  <div class="field form-group">
    <%= form.label :kodawari_point,"こだわりタイトル" %>
    <%= form.text_field :kodawari_point, id: :kodawari_point, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :kodawari_about,"こだわり概要" %>
    <%= form.text_area :kodawari_about, id: :kodawari_about,:rows=>"7",:maxlength => "100", :class => "form-control" %>
  </div>  

  <div class="field form-group">
    <%= form.label :kodawari_img,"こだわり画像" %>
    <%= form.file_field :kodawari_img, id: :kodawari_img , :class => "form-control"%>
  </div>

<!-- 配送方法とサイズ -->
  <div class="field form-group">
    <%= form.label :size,"サイズ" %>
    <%= form.text_area :size, id: :size,:rows=>"5", :class => "form-control" %>
  </div>  

    <div class="field form-group">
    <%= form.label :delivery,"配送方法" %>
    <%= form.text_area :delivery, id: :delivery,:rows=>"5", :class => "form-control" %>
  </div>
  
  <!-- 登録した家具をユーザーを紐付け -->
  <%= form.hidden_field :user_id, :value => current_user.id %>


  <div class="actions">
    <%= form.submit "作成する",:class=>"btn btn-primary"%>
  </div>
<% end %>
