      <div class="furniture_container">
      
      <!-- 最近の人気商品 -->
      <!-- まだ新着順のみ -->
        <section id="recently_popular">
          <h2>最近の人気商品</h2>
          <ul class="recently_popular_blocks">
            <% @furnitures.each do |furniture| %>
            <li class="product_block">
              <div class="furniture_img">
                <%= image_tag furniture.furniture_image %>
              </div>
              <div class="product_text">
                <% user = User.find_by(id: furniture.user_id) %>
                <p>
                  <% if user.prof_img.file.nil? %>
                    <span><%= image_tag 'Gravatar-icon.png' %></span>
                  <% else %>
                    <span><%= image_tag user.prof_img %></span>
                  <% end %>  
                  <%= user.username %>
                </p>
                <div class="product_kodawari_block">
                  <h4><%= link_to furniture.name, furniture %></h4>            
                  <p><%= furniture.kodawari_point %></p>
                </div>
                <% if Favorite.find_by(user_id: current_user.id, furniture_id: furniture.id) %>
                  <p>いいね！済み</p>
                <% else %>
                  <p>いいね！していません</p>
                <% end %>
                <p><%= furniture.price %>円</p>
              </div>
            </li>
            <% end %>
          </ul>
        </section>

        <!-- モック通りにテーブルカテゴリを表示 -->
        <section id="category_popular">
          <h2>テーブルの人気商品</h2>
          <ul class="recently_popular_blocks">
            <% @furnitures.each do |furniture| %>
              <% if furniture.category == "table" %>
                <li class="product_block">
                  <div class="furniture_img">
                    <%= image_tag furniture.furniture_image %>
                  </div>
                  <div class="product_text">
                    <% user = User.find_by(id: furniture.user_id) %>
                    <p>
                      <% if user.prof_img.file.nil? %>
                        <span><%= image_tag ('Gravatar-icon.png') %></span>
                      <% else %>
                        <span><%= image_tag user.prof_img %></span>
                      <% end %>  
                      <%= user.username %>
                    </p>
                    <div class="product_kodawari_block">
                      <h4><%= link_to furniture.name, furniture %></h4>            
                      <p><%= furniture.kodawari_point %></p>
                    </div>
                    <p><%= furniture.price %>円</p>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </section>


    
<!--         <section id="furniture_detail_top">
          <%# @furnitures.each do |furniture| %>
          <div class="furniture_top_img">
        		<%#= image_tag furniture.furniture_image %>
        	</div>

        	<div class="furniture_about_text">
        		<h3><%#= link_to furniture.name, furniture %></h3>

        		<div class="furniture_description">
        			<%#= furniture.furniture_about %>
        		</div>

        		<div class="furniture_price">
        			<%#= furniture.price %>円
        		</div>
        	</div>
          </p>
          <%# end %>
        </section> -->


        <!-- SUMITUKUについて -->
        <section id="sumituku_block">
          <div class="crator_img_block">
            <%= image_tag 'creator.jpg' %>
          </div>
          <h2>SUMITUKUとは</h2>
        </section>

      </div>
    
<%#= link_to 'New Furniture', new_furniture_path %>
