<p id="notice"><%= notice %></p>
<h1>Furnitures</h1>

    <% @furnitures.each do |furniture| %>
      <div class="furniture_block">
        <div class="furniture_img_block">
          <%= image_tag furniture.furniture_image %>
        </div>
        <div>
          <h3><%= furniture.name %></h3>
          <p>カテゴリ：<%= furniture.category %></p>
          <p>値段<%= furniture.price %>円</p>
          <p><%= sanitize(simple_format(furniture.furniture_about), :tags => %w(p br)) %>
          </p>
          
          <p>
          <%= link_to '詳細', furniture %>
          <%= link_to '編集', edit_furniture_path(furniture) %>
          <%= link_to '削除', furniture, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          </div>
      </div>
    <% end %>



<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Furniture image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->
    <!-- <%# @furnitures.each do |furniture| %> -->
      <!-- <tr> -->
        <!-- <td><%#= image_tag furniture.furniture_image %></td> -->
        <!-- <td><%#= furniture.name %></td> -->
        <!-- <td><%#= furniture.category %></td> -->
        <!-- <td><%#= link_to 'Show', furniture %></td> -->
        <!-- <td><%#= link_to 'Edit', edit_furniture_path(furniture) %></td> -->
        <!-- <td><%#= link_to 'Destroy', furniture, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    <!-- <%# end %> -->
<!--   </tbody>
</table> -->

<br>

<%= link_to 'New Furniture', new_furniture_path %>
