<% if notice != nil %>
  <p id="notice"><%= notice %></p>
<% end %>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <h1 class="logo">
    <%= link_to 'SUMITUKU', furnitures_path %>
  </h1>
  <a class="category_title" href="#">一覧</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse search_block" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <%= form_tag furnitures_path, :method => 'get' do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], class: 'form-control font-awesome', placeholder: "\uF002",id: "inlineFormInputGroup" %>
      <%= submit_tag "検索",class: 'input-group-addon search_button' %>
    </div>
  <% end %>
  </div>
</nav>
    <% @furnitures.each do |furniture| %>
      <div class="furniture_block">
        <div class="furniture_img_block">
          <%= image_tag furniture.furniture_image %>
        </div>
        <div>
          <h3><%= furniture.name %></h3>
          <p>カテゴリ：<%= furniture.category %></p>
          <p>値段<%= furniture.price %>円</p>
          <p><%= sanitize(simple_format(furniture.furniture_about), :tags => %w(p br)) %>
          </p>
          
          <p>
          <%= link_to '詳細', furniture %>
          <%= link_to '編集', edit_furniture_path(furniture) %>
          <%= link_to '削除', furniture, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          </div>
      </div>
    <% end %>

<br>

<%= link_to 'New Furniture', new_furniture_path %>
