<% if notice != nil %>
	<p id="notice"><%= notice %></p>
<% end %>

<section id="furniture_detail_top">
	<div class="furniture_top_img">
		<%= image_tag @furniture.furniture_image %>
	</div>

	<div class="furniture_about_text">
		<h3><%= @furniture.name %></h3>

		<div class="furniture_description">
			<%= @furniture.furniture_about %>
		</div>

		<div class="furniture_price">
			<%= @furniture.price %>円
		</div>
	</div>

	<div class="purchase_block">
		<i class="fa fa-shopping-cart" aria-hidden="true" ></i>
		<span>カートに進む</span>
	</div>
</section>
<!-- こだわり -->
<section id="kodawari">
	<div class="kodawari_img">
		<%= image_tag @furniture.kodawari_img %>
	</div>

	<div class="kodawari_text">
		<h3><%= @furniture.kodawari_point %></h3>
		<div class="kodawari_description">
			<%= @furniture.kodawari_about %>
		</div>
	</div>
</section>

<section id="delivery_size">
	<table class="deliverysize_table table table-responsive">
		<tr>
			<th>サイズ</th>
			<td><%= sanitize(simple_format(@furniture.size), :tags => %w(p br)) %></td>
		</tr>
		<tr>
			<th>配送</th>
			<td><%= sanitize(simple_format(@furniture.delivery), :tags => %w(p br)) %></td>
		</tr>
		<tr>
			<th>作り手</th>
			<td><%= @user.username %></td>
		</tr>
	</table>
</section>

<div class="purchase_block">
	<i class="fa fa-shopping-cart" aria-hidden="true" ></i>
	<span>カートに進む</span>
</div>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
