<!-- モックにおける上部分おn商品説明 -->
<section id="furniture_detail_top">
	<!-- トップ画像 -->
	<div class="furniture_top_img">
		<%= image_tag @furniture.furniture_image %>
	</div>

	<!-- トップのテキスト（説明文） -->
	<div class="furniture_about_text">
		<!-- 家具名 -->
		<h3><%= @furniture.name %></h3>
		<% if user_signed_in? %>
			<% if Favorite.find_by(user_id: current_user.id, furniture_id: @furniture.id) %>
	        	<%= link_to("/favorites/#{@furniture.id}/destroy",{method: "post"}) do %>
	        		<p class="good_icon">
	        			<i class="fa fa-heart" aria-hidden="true"></i>お気に入り！済み
	        		</p>
	        	<% end %>
	        <% else %>
	        	<%= link_to("/favorites/#{@furniture.id}/create",{method: "post"}) do %>
	        		<p class="good_icon">
	        			<i class="fa fa-heart-o" aria-hidden="true"></i>お気に入り！
	        		</p>
	        	<% end %>
	        <% end %>
	    <% else %>
	    	<%= link_to new_user_registration_path do %>
  				<p class="good_icon">
  					<i class="fa fa-heart-o" aria-hidden="true"></i>お気に入り！
  				</p>
			<% end %>
        <% end %>

		<!-- 家具の概要 -->
		<div class="furniture_description">
			<%= @furniture.furniture_about %>
		</div>

		<!-- 家具の値段 -->
		<div class="furniture_price">
			<%= @furniture.price %>円
		</div>
	</div>

	<!-- 購入CTA -->
	<div class="purchase_block">
		<i class="fa fa-shopping-cart" aria-hidden="true" ></i>
		<span>カートに進む</span>
	</div>
</section>

<!-- こだわり -->
<section id="kodawari">
	<!-- こだわり（商品説明以外）の画像 -->
	<div class="kodawari_img">
		<%= image_tag @furniture.kodawari_img %>
	</div>

	<!-- こだわりを説明する説明文 -->
	<div class="kodawari_text">
		<h3><%= @furniture.kodawari_point %></h3>
		<div class="kodawari_description">
			<%= @furniture.kodawari_about %>
		</div>
	</div>
</section>

<section id="delivery_size">
	<table class="deliverysize_table table table-responsive">
		<tr>
			<th>サイズ</th>
			<td><%= sanitize(simple_format(@furniture.size), :tags => %w(p br)) %></td>
		</tr>
		<tr>
			<th>配送</th>
			<td><%= sanitize(simple_format(@furniture.delivery), :tags => %w(p br)) %></td>
		</tr>
		<tr>
			<th>作り手</th>
			<td><%= @user.username %></td>
		</tr>
	</table>
</section>

<div class="purchase_block">
	<i class="fa fa-shopping-cart" aria-hidden="true" ></i>
	<span>カートに進む</span>
</div>

<% if user_signed_in? %>
<% if @user.id == current_user.id %>
<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
<% end %>
<% end %>