<% if notice != nil %>
	<p id="notice"><%= notice %></p>
<% end %>

<section id="furnitura_detail_top">
<div class="furniture_top_img">
	<%= image_tag @furniture.furniture_image %>
</div>
<div class="furniture_about_text">
	<h3><%= @furniture.name %></h3>
	<p><%= sanitize(simple_format(@furniture.furniture_about), :tags => %w(p br)) %></p>
	<p>値段：<%= @furniture.price %>円</p>

</div>

<div class="purchase_block">
	<p><i class="fa fa-shopping-cart" aria-hidden="true"></i>カートへ進む ></p>
</div>

</section>
<!-- こだわり -->
<section id="kodawari">
<div class="kodawari_img">
	<%= image_tag @furniture.kodawari_img %>
</div>

<div class="kodawari_text">
	<h3><%= @furniture.kodawari_point %></h3>
	<p><%= sanitize(simple_format(@furniture.kodawari_about), :tags => %w(p br)) %></p>
</div>
</section>

<section id="delivery_size">
	<table class="deliverysize_table table table-responsive">
		<tr>
			<th>サイズ</th>
			<td><%= sanitize(simple_format(@furniture.size), :tags => %w(p br)) %></td>
		</tr>
		<tr>
			<th>配送</th>
			<td><%= sanitize(simple_format(@furniture.delivery), :tags => %w(p br)) %></td>
		</tr>
	</table>
</section>

<div class="purchase_block">
	<p><i class="fa fa-shopping-cart" aria-hidden="true"></i>カートへ進む ></p>
</div>

<%= link_to 'Edit', edit_furniture_path(@furniture) %> |
<%= link_to 'Back', furnitures_path %>
