<!DOCTYPE html>
<html>
  <head>
    <title>Sumituku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  </head>

  <body>
    <nav class="form">
      <h1 class="logo">
        <%= link_to "ロゴ",furnitures_path%></h1>
      <%= form_tag furnitures_path, :method => 'get' do %>
          <div class="input-group">
            <%= button_tag :type => "submit" do %>
                <i class="fa fa-search"></i>
            <% end %>
            <%= text_field_tag :search, params[:search], placeholder: "ソファなどのキーワードを検索",class: 'form-design' %>
          </div>
      <% end %>
    </nav>

    <% if notice != nil %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <% if alert != nil %>
      <p id="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
    <footer>
      <div class="company_info">
        <!-- <h3>ロゴ</h3> -->
        <h4>SPUR,Inc</h4>
        <p><a href="#">利用規約</a></p>
        <p><a href="#">プライバシーポリシー</a></p>
        <p><a href="#">サイトマップ</a></p>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
      </div>
    </footer>


  </body>
</html>
